<header class="header">
 <% if user_signed_in? %>
  <div><%= link_to "Recipe App", root_path %></div>
  <nav class="navbar">
    <ul>
         <li>
        <%= link_to "Food List", foods_path %>
      </li>
      <li>
        <%= link_to "Recipe List", recipes_path %>
      </li>
      <li>
        <%= link_to "Public Recipe", public_recipes_path %>
      </li>
      <li>
        <%= link_to "General Shopping List", general_shopping_list_index_path %>
      </li>
      <li>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <% end %>
    </ul>
  </nav>
</header>